<template>
  <div id="app">
    <notifications position="top right"/>
    <Navigation/>
    <main role="main" class="container container-dark container-pt main-mb">
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'home',
  components: {
    Navigation,
    Footer
  }
}
</script>
