<template>
  <div class="about">
     <div id="second-column" class="resize">
      <h5>
        Date of Creation: <span id="date-reg">2018/10/14</span>
      </h5>
      <h5>
        Author: <span id="email">Demchenko Vlad</span>
      </h5>
      <h5>
        Email: <span id="email">vdemchenko99@gmail.com</span>
      </h5>
      <h5>
        Telegram: <span id="email"><a href="https://t.me/jardev">Jardev</a></span>
      </h5>
    </div>
  </div>
</template>
