<template>
  <div>
    <h4>Use: "/api/v1"</h4>
    <br>
    <h5>Use: JWT Auth</h5>
    <div class="row">
      <h6 class="w-100"><i>GET</i><b> /users</b>: <span>(ONLY FOR ADMIN) list of users</span></h6>
      <h6 class="w-100"><i>GET</i><b> /users/:id</b>: <span>return {user} User data</span></h6>
      <h6 class="w-100"><i>PUT</i><b> /users/changerole</b>: <span>Change role user. body: {id: id User that we want to change, role: user or admin}</span></h6>
      <br><br>
      <h6 class="w-100"><i>GET</i><b> /videos</b>: <span>return {countPage ,currentPage, query, videos}</span></h6>
      <h6 class="w-100"><i>GET</i><b> /videos/:id</b>: <span>return {video}</span></h6>
      <h6 class="w-100"><i>PUT</i><b> /videos/:id</b>: <span>body: {name , description}</span></h6>
      <h6 class="w-100"><i>DELETE</i><b> /videos/:id</b>: <span>return {video} Old video</span></h6>
      <h6 class="w-100"><i>POST</i><b> /videos/new</b>: <span>body: {name, description, video, preview}</span><span>return {video}</span></h6>
      <br><br>
      <h6 class="w-100"><i>GET</i><b> /users/:id/playlists</b>: <span>return {playlists: list of user playlists}</span></h6>
      <h6 class="w-100"><i>GET</i><b> /users/:id/playlists/:id</b>: <span>return {currentVideo, otherVideo: list of video without current video}</span></h6>
      <h6 class="w-100"><i>PUT</i><b> /users/:id/playlists/:id</b>: <span>body: {name , description}</span></h6>
      <h6 class="w-100"><i>DELETE</i><b> /users/:id/playlists/:id</b>: <span>return {playlist} Old playlist</span></h6>
      <h6 class="w-100"><i>POST</i><b> /users/:id/playlists/new</b>: <span>body: {name, description, selected[0]..selected[n] with video id }</span><span>return {playlist}</span></h6>
    </div>
  </div>
</template>
