<template>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Login</h3>
      <div id="errors" class="alert alert-danger d-none" role="alert">
      </div>
      <form id="login-form" action="/auth/login" method="POST">
          <div class="form-group">
              <input type="text" v-model="username" class="form-control" placeholder="Your Email *" required>
          </div>
          <div class="form-group">
              <input type="password" v-model="password" class="form-control" placeholder="Your Password *" required>
          </div>
          <div class="form-group">
              <button @click.prevent="login" type="submit" class="btn btn btn-outline-success btn-block">Login</button>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import { AUTH_REQUEST } from '@/store/actions/auth'
export default {
  name: 'login',
  data () {
    return {
      username: this.username,
      password: this.password
    }
  },
  methods: {
    login: function () {
      const { username, password } = this
      this.$store.dispatch(AUTH_REQUEST, { username, password })
        .then(() => {
          this.$router.push('/')
        })
        .catch(() => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: 'Login or Passwort incorrect'
          })
        })
    }
  }
}

</script>
