<template>
  <div v-if="isReady">
    <div v-if="items.length">
      <div class="text-center">
        <h2>Make new Playlist!</h2>
      </div>
      <form @submit.prevent.stop="submit">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 col-12">
            <div class="justify-content-center">
              <div class="form-group row">
                <label for="inputName"  class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                  <input type="text" name="name" :class="{'form-control':true, 'is-invalid' : errors.has('name')}" v-model="name" autocapitalize="none" autocomplete="off" autocorrect="off" placeholder="Name video" v-validate="'required|min:4|max:30'">
                  <div class="invalid-feedback" v-if="errors.has('name')">
                    {{ errors.first('name') }}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDescription" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                  <textarea id="inputDescription" v-model="description" form="form" placeholder="Enter the Description..."></textarea>
                </div>
              </div>
              <div class="custom-file">
                <input @change="changePreview" type="file" name="preview" ref="preview" accept="image/*"
                    :class="{'custom-file-input':true, 'is-invalid' : errors.has('preview')}"
                    v-validate="'required|image'" id="customFile">
                <label class="custom-file-label" for="customFile">{{filenamePreview}}</label>
                <div class="invalid-feedback" v-if="errors.has('preview')">
                  {{ errors.first('preview') }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="text-center">
          <h2>Select videos</h2>
        </div>
        <div class="table-responsive">
          <div class="table">
            <div class="table-head">
              <div class="table-data">
                Preview
              </div>
              <div class="table-data">
                Title
              </div>
              <div class="table-data">
                Autor
              </div>
            </div>
            <div class="table-body">
              <span v-for="(item, index) in items" :key="item._id" class="chbox">
                <input v-model="checkedNames" type="checkbox" :id="item._id" :value="item._id" :name="'selected[' + index + ']'">
                <label class="table-row video-row act" :for="item._id">
                  <div class="table-data">
                    <img id="table-video-preview" :src="item.image" alt="Video1 logo">
                  </div>
                  <div class="table-data">
                    {{item.name}}
                  </div>
                  <div class="table-data">
                    {{item.postedBy.fullname}}
                  </div>
                </label>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 col-12">
            <button type="submit" id="sbm" class="btn btn btn-outline-success btn-block">Create new playlist</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </form>
    </div>
    <h3 v-else class="justify-content-center">You don't have video</h3>
  </div>
  <h2 v-else>Loading...</h2>
</template>

<script>
import { getEntity, loadEntity } from '@/utils/api'
export default {
  data () {
    return {
      name: '',
      description: '',
      isReady: false,
      filenamePreview: 'Select a image...',
      checkedNames: [],
      items: []
    }
  },
  created: function () {
    this.loadMore()
  },
  methods: {
    changePreview: function () {
      if (!this.$refs.preview || this.$refs.preview.files.length === 0) {
        this.filenamePreview = 'Select a image...'
      } else {
        this.filenamePreview = this.$refs.preview.files[0].name
      }
    },
    loadMore: function () {
      getEntity('/videos/my')
        .then(res => {
          this.items = res.data
          this.isReady = true
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    submit: async function () {
      const result = await this.$validator.validate()
      if (!result || this.checkedNames.length === 0) {
        this.$notify({
          type: 'error',
          title: 'Error',
          text: 'Edit your errors'
        })
        return
      }
      const form = new FormData()
      const preview = this.$refs.preview.files[0]
      form.append('name', this.name)
      form.append('description', this.description)
      form.append('preview', preview)
      for (let key in this.checkedNames) {
        form.append(`selected[${key}]`, this.checkedNames[key])
      }
      const btn = document.getElementById('sbm')
      btn.innerHTML = '<div class=\'loading\'></div>'

      const path = this.$route.path
      loadEntity(path, form)
        .then(res => {
          const userId = this.$route.params.userId
          const data = res.data
          this.$router.push(`/users/${userId}/playlists/${data._id}`)
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
