<template>
  <div>
    <div class="text-center">
        <h2>Upload new video!</h2>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-12">
        <form class="justify-content-center" @submit.stop.prevent="uploadVideo" enctype="multipart/form-data">
          <div class="form-group row">
            <label for="inputName" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" name="name" ref="name" :class="{'form-control':true, 'is-invalid' : errors.has('name')}"
              autocapitalize="none" autocomplete="off" autocorrect="off" placeholder="Name video"
              v-validate="'required|min:4|max:30'">
                  <div class="invalid-feedback" v-if="errors.has('name')">
                    {{ errors.first('name') }}
                  </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <textarea ref="description" id="inputDescription" form="form" placeholder="Enter the Description..."></textarea>
            </div>
          </div>
          <div class="custom-file mb-2">
            <input @change="changePreview" type="file" name="preview" ref="preview" accept="image/*"
                :class="{'custom-file-input':true, 'is-invalid' : errors.has('preview')}"
                v-validate="'image'" id="customFilePreview">
            <label class="custom-file-label" for="customFilePreview">{{filenamePreview}}</label>
            <div class="invalid-feedback" v-if="errors.has('preview')">
              {{ errors.first('preview') }}
            </div>
          </div>
          <div class="custom-file mb-3">
            <input @change="changeVideo" type="file" name="video" ref="video" accept="video/*"
                :class="{'custom-file-input':true, 'is-invalid' : errors.has('video')}"
                v-validate="'required|size:102400'" id="customFileVideo">
            <label class="custom-file-label" for="customFileVideo">{{filenameVideo}}</label>
            <div class="invalid-feedback" v-if="errors.has('video')">
              {{ errors.first('video') }}
            </div>
          </div>
          <button type="submit" id="sbm" class="btn btn btn-outline-success btn-block">Create new video</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>
import { loadEntity } from '@/utils/api'
export default {
  name: 'newVideo',
  data: function () {
    return {
      filenamePreview: 'Select a image...',
      filenameVideo: 'Select a video...'
    }
  },
  methods: {
    changePreview: function () {
      if (!this.$refs.preview || this.$refs.preview.files.length === 0) {
        this.filenamePreview = 'Select a image...'
      } else {
        this.filenamePreview = this.$refs.preview.files[0].name
      }
    },
    changeVideo: function () {
      if (!this.$refs.video || this.$refs.video.files.length === 0) {
        this.filenameVideo = 'Select a video...'
      } else {
        this.filenameVideo = this.$refs.video.files[0].name
      }
    },
    uploadVideo: async function () {
      const result = await this.$validator.validate()
      if (!result) {
        this.$notify({
          type: 'error',
          title: 'Error',
          text: 'Edit your errors'
        })
        return
      }
      const name = this.$refs.name.value
      const description = this.$refs.description.value
      const preview = this.$refs.preview.files[0]
      const video = this.$refs.video.files[0]

      const form = new FormData()
      form.append('name', name)
      form.append('description', description)
      form.append('preview', preview)
      form.append('video', video)

      const btn = document.getElementById('sbm')
      btn.innerHTML = '<div class=\'loading\'></div>'

      loadEntity('/videos/new', form)
        .then((res) => {
          this.$notify({
            type: 'success',
            title: 'success',
            text: res.data.name
          })
          this.$router.push('/videos/' + res.data._id)
        })
        .catch((err) => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
