<template>
  <div v-if="isReady">
    <div v-if="playlists.length" class="row">
      <div v-for="(playlist, index) in playlists" :key="playlist._id" class="col-md-4 col-sm-6 mb-4">
        <div class="card-content bg-content">
          <div class="card-img">
            <img :src="playlist.image" alt="logo playlist">
          </div>
          <div class="card-desc">
            <h3>{{playlist.name}}</h3>
            <p>{{playlist.description}}</p>
            <router-link :to="'/users/' + playlist.postedBy + '/playlists/' + playlist._id" class="btn-card btn btn-outline-info">Play</router-link>
             <div v-if="canDelete()" class="ml-3 d-inline-block">
              <button @click="setId(playlist, index)" data-toggle="modal" data-target="#modalDialogEdit" :data-id="playlist._id" class="btn btn-outline-warning btn-sm mr-2 btn-inline-block">
                Edit
              </button>
              <button @click="setId(playlist, index)" data-toggle="modal" data-target="#modalDialogDelete" :data-id="playlist._id" class="btn btn-outline-danger btn-sm btn-inline-block">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ModalDelete -->
      <div class="modal fade" id="modalDialogDelete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header alert-danger">
              <h5 class="modal-title" id="modal">Warning!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-dark">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button @click="deletePlaylist" data-dismiss="modal" type="button" class="btn btn-outline-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ModalEdit -->
      <div class="modal fade" id="modalDialogEdit" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header alert-danger">
              <h5 class="modal-title" id="modal">Warning!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-dark">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <input type="text" v-model="name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" v-model="description"></textarea>
                </div>
                <div class="form-group">
                  <label for="formControlPreview">Select preview</label>
                  <input type="file" ref="preview" accept="image/*" class="form-control-file" id="formControlPreview">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button @click="editPlaylist" type="button" data-dismiss="modal" class="btn btn-outline-warning">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 v-else class="text-center">Playlists not found</h2>
  </div>
  <h2 v-else class="text-center">Loading...</h2>
</template>

<script>
import { getEntity, updateEntity, deleteEntity } from '@/utils/api'
export default {
  name: 'login',
  data () {
    return {
      isReady: false,
      focusPlaylist: '',
      name: '',
      description: '',
      playlists: []
    }
  },
  mounted: function () {
    this.loadMore()
  },
  computed: {
    getUserId: function () {
      return this.$route.params.userId
    }
  },
  methods: {
    isAdmin: function (item) {
      return !!item.role
    },
    canDelete: function () {
      return this.$store.getters.isAdmin || (this.$store.getters.getProfile._id === this.getUserId)
    },
    setId: function (playlist, index) {
      this.focusPlaylist = { playlist, index }
      this.name = playlist.name
      this.description = playlist.description
    },
    loadMore: function () {
      this.isReady = false
      getEntity('/users/' + this.getUserId + '/playlists')
        .then(response => {
          this.isReady = true
          this.playlists = response.data
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    deletePlaylist: function () {
      deleteEntity('/users/' + this.getUserId + '/playlists/' + this.focusPlaylist.playlist._id)
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: 'You deleted playlist ' + res.data.name
          })
          this.playlists.splice(this.focusPlaylist.index, 1)
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    editPlaylist: function () {
      const name = this.name
      const description = this.description
      const preview = this.$refs.preview.files[0]
      // /
      const form = new FormData()
      form.append('name', name)
      form.append('description', description)
      form.append('preview', preview)

      this.isReady = false
      updateEntity('/users/' + this.getUserId + '/playlists/' + this.focusPlaylist.playlist._id, form)
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: 'You updated playlist ' + res.data.name
          })
          this.loadMore()
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
