<template>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Sing Up</h3>
      <form id="register" action="/auth/register" method="POST" @submit.prevent="validateBeforeSubmit()">
        <div class="form-group">
          <input type="text" v-model="username" name="username" v-bind:class="{'form-control':true, 'is-invalid' : errors.has('username')}" minlength="4" maxlength="30" placeholder="Your Email *" v-validate="'required|email'">
          <div class="invalid-feedback" v-if="errors.has('username')">
            {{ errors.first('username') }}
          </div>
        </div>
          <div class="form-group">
            <input type="password" v-model="pass1" name="pass1" v-bind:class="{'form-control':true, 'is-invalid' : errors.has('pass1')}" minlength="4" maxlength="36" placeholder="Your Password *" v-validate="'required'" ref="password" data-vv-as="password">
            <div class="invalid-feedback" v-if="errors.has('pass1')">
              {{ errors.first('pass1') }}
            </div>
          </div>
          <div class="form-group">
            <input type="password" v-model="pass2" name="pass2" v-bind:class="{'form-control':true, 'is-invalid' : errors.has('pass2')}" minlength="4" maxlength="36" placeholder="Repeat Your Password *" v-validate="'required|confirmed:password'" data-vv-as="confirm password">
            <div class="invalid-feedback" v-if="errors.has('pass2')">
              {{ errors.first('pass2') }}
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn btn-outline-success btn-block">Sing Up</button>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import { register } from '@/utils/api'
export default {
  data: function () {
    return {
      username: '',
      pass1: '',
      pass2: ''
    }
  },
  methods: {
    validateBeforeSubmit: function () {
      this.$validator.validateAll()
        .then((result) => {
          if (result) {
            const form = new FormData()
            form.append('username', this.username)
            form.append('pass1', this.pass1)
            form.append('pass2', this.pass2)
            this.submit(form)
          }
        })
        .catch((e) => {
          console.log(e)
        })
    },
    submit: function (body) {
      register(body)
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'SUCCESS',
            text: 'You created new account'
          })
          this.$router.push('/login')
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err
          })
        })
    }
  }
}

</script>
