<template>
  <div class="table-responsive">
    <div class="table">
      <div class="table-head">
        <div class="table-data">
          Logo
        </div>
        <div class="table-data">
          Email
        </div>
        <div class="table-data">
          Full Name
        </div>
        <div class="table-data">
          Make admin or user
        </div>
      </div>
      <div class="table-body">
        <div v-for="item in items" :key="item._id" :to="'users/' + item._id" class="table-row">
          <router-link :to="'/users/' + item._id" class="table-data">
            <img class="table-user-logo" :src="item.avaUrl" alt="user logo">
          </router-link>
          <router-link :to="'/users/' + item._id" class="table-data">
            {{item.login}}
          </router-link>
          <router-link :to="'/users/' + item._id" class="table-data">
            {{item.fullname}}
          </router-link>
          <div class="table-data">
            <span class="switchToggle">
              <input @click="changeRole" :checked="isAdmin(item)" :id="'switch-id' + item._id" type="checkbox" class="switch-sm" :data-id="item._id">
              <label :for="'switch-id' + item._id"></label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getEntity, updateEntity } from '@/utils/api'
export default {
  name: 'login',
  data () {
    return {
      items: []
    }
  },
  mounted: function () {
    this.loadMore()
  },
  methods: {
    isAdmin: function (item) {
      return !!item.role
    },
    changeRole: function (e) {
      const role = (e.target.checked) ? 'admin' : 'user'
      const id = e.target.getAttribute('data-id')
      updateEntity('/users/changerole', { id, role })
        .then((res) => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: `${res.data.login} is ${(parseInt(res.data.role) === 0) ? 'Admin' : 'User'}`
          })
        })
        .catch((err) => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    loadMore: function () {
      getEntity('/users')
        .then(response => {
          const data = response.data
          for (let i = 0; i < data.users.length; i++) {
            this.items.push(data.users[i])
          }
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
