<template>
  <h1 v-if="!isReady">Loading...</h1>
  <div v-else>
    <div v-if="isReady" class="row">
      <div class="col-md-3 col-sm-4 col-12">
        <img class="profile-user-logo" :src="user.avaUrl" alt="">
        <div @click="subscribe" :class="{ subscriber: user.subscribe, subscribe: true }">
          <span v-if="!user.subscribe">Subscribe</span>
          <span v-else>Unsubscribe</span>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="container-border-bottom pb">
          <h2 class="d-inline-block m-0">
            {{user.fullname}}
            <div v-if="canDelete()" class="ml-auto d-inline-block">
              <button data-toggle="modal" data-target="#modalDialogEdit" :data-whatever="'/videos/' + user._id" class="btn btn-outline-warning btn-sm mr-2 btn-inline-block">
                Edit profile
              </button>
              <button data-toggle="modal" data-target="#modalDialogDelete" :data-whatever="'/videos/' + user._id" class="btn btn-outline-danger btn-sm btn-inline-block">
                Delete profile
              </button>
            </div>
          </h2>
        </div>
        <div class="row mt container-border-bottom">
          <div class="col-md-9">
            <h4 class="pb">About</h4>
            <p id="about">{{user.about}}</p>
          </div>
          <div class="col-md-3">
            <h4 class="pb">Statistic</h4>
            <p class="container-border-bottom small">
              <b>Date of Registration:</b>
              <span>{{user.created | momentFilter}}</span>
            </p>
            <p class="container-border-bottom small">
              <b>Email:</b>
              <span><a :href="'mailto:' + user.login" target="_blank" >{{user.login}}</a></span>
            </p>
            <router-link v-if="canDelete()" :to="'/users/' + user._id + '/playlists/new'" class="btn btn-outline-primary mb-2">New playlist</router-link>
          </div>
        </div>
        <router-link :to="'/users/'+user._id+'/playlists'" class="btn btn-outline-info my-2">All playlists</router-link>
      </div>
    </div>
    <!-- ModalDelete -->
    <div class="modal fade" id="modalDialogDelete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert-danger">
            <h5 class="modal-title" id="modal">Warning!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button @click="deleteProfile" data-dismiss="modal" type="button" class="btn btn-outline-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ModalEdit -->
    <div class="modal fade" id="modalDialogEdit" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert-danger">
            <h5 class="modal-title" id="modal">Warning!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Fullname:</label>
                <input type="text" v-model="fullname" class="form-control">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Username in telegram:</label>
                <input type="text" v-model="telegramUsername" class="form-control">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">About:</label>
                <textarea class="form-control" v-model="about"></textarea>
              </div>
              <div class="form-group">
                <label for="formControlAvatar">Select avatar</label>
                <input type="file" ref="avatar" accept="image/*" class="form-control-file" id="formControlAvatar">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button @click="editProfile" type="button" data-dismiss="modal" class="btn btn-outline-warning">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getEntity, deleteEntity, updateEntity, patchEntity } from '@/utils/api'
import { AUTH_LOGOUT } from '@/store/actions/auth'
import { USER_REQUEST } from '@/store/actions/user'
import moment from 'moment'

export default {
  name: 'currentvideo',
  data () {
    return {
      user: {},
      fullname: '',
      about: '',
      telegramUsername: '',
      isReady: false
    }
  },
  created: function () {
    this.loadMore()
  },
  computed: {
    getProfile: function () {
      return this.$store.getters.getProfile
    }
  },
  watch: {
    '$route' (to, from) {
      this.user = {}
      this.isReady = false
      this.loadMore()
    }
  },
  filters: {
    momentFilter: function (value) {
      return moment(value).fromNow()
    }
  },
  methods: {
    canDelete: function () {
      return this.$store.getters.isAdmin || (this.$store.getters.getProfile._id === this.user._id)
    },
    logout: function () {
      this.$store.dispatch(AUTH_LOGOUT).then(() => {
        this.$router.push('/')
      })
    },
    subscribe: function () {
      if (!this.getProfile.telegramUsername) {
        this.$notify({
          type: 'warning',
          title: 'Warning',
          text: `You haven't telegram <b>username</b>! Set this in profile settings`
        })
        return
      }
      const subscribe = (this.user.subscribe) ? 'unsubscribe' : 'subscribe'
      const userId = this.$route.params.userId
      // /
      updateEntity('/users/' + userId + '/subscriber', { subscribe })
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: `You ${subscribe} to chennel!`
          })
          this.user.subscribe = !this.user.subscribe
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    loadMore: function () {
      const userId = this.$route.params.userId
      this.isReady = false
      getEntity('/users/' + userId)
        .then(response => {
          this.user = response.data
          this.fullname = this.user.fullname
          this.about = this.user.about
          this.telegramUsername = this.user.telegramUsername
          this.isReady = true
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    editProfile: async function () {
      const userId = this.$route.params.userId
      // /
      const fullname = this.fullname
      const about = this.about
      const avatar = this.$refs.avatar.files[0]
      const username = this.telegramUsername
      // /
      try {
        await patchEntity('/users/' + userId, { username })
      } catch (err) {
        if (parseInt(err.response.status) === 404) {
          this.$router.push('/404')
        }
        this.$notify({
          type: 'error',
          title: 'Error',
          text: err.response.data.error
        })
        this.fullname = this.user.fullname
        this.about = this.user.about
        this.telegramUsername = this.user.telegramUsername
        return
      }
      // /
      const form = new FormData()
      form.append('fullname', fullname)
      form.append('about', about)
      form.append('avatar', avatar)
      // /
      updateEntity('/users/' + userId, form)
        .then(resp => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: 'You updated profile ' + this.user.login
          })
          this.loadMore()
          if (this.$store.getters.getProfile._id === this.user._id) {
            this.$store.dispatch(USER_REQUEST)
          }
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
          this.loadMore()
        })
    },
    deleteProfile: function () {
      const userId = this.$route.params.userId
      deleteEntity('/users/' + userId)
        .then(res => {
          if (this.$store.getters.getProfile._id === this.user._id) {
            this.logout()
          }
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
        })
    }
  }
}
</script>
