<template>
  <div v-if="isReady">
    <h3 v-if="query">Search: <span class="font-italic"> {{query}}</span></h3>
    <div v-if="items.length" class="table-responsive">
      <div class="table">
        <div class="table-head">
          <div class="table-data">
            Preview
          </div>
          <div class="table-data">
            Title
          </div>
          <div class="table-data">
            Autor
          </div>
        </div>
        <div id="infinity-list" class="table-body">
          <router-link v-for="item in items" :key="item._id" :to="'/videos/' + item._id" class="table-row video-row">
            <div class="table-data">
              <img id="table-video-preview" :src="item.image" alt="Video1 logo">
            </div>
            <div class="table-data">
              {{item.name}}
            </div>
            <div class="table-data">
              {{item.postedBy.fullname}}
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <h3 v-else class="justify-content-center" >Videos not found!</h3>
  </div>
  <h2 v-else>Loading...</h2>
</template>

<script>
import { getEntity } from '@/utils/api'
export default {
  name: 'videos',
  data () {
    return {
      isReady: false,
      currentPage: 0,
      allPage: 1,
      items: [],
      query: this.$route.query.q || ''
    }
  },
  watch: {
    '$route' (to, from) {
      this.isReady = false
      this.query = this.$route.query.q || ''
      this.currentPage = 0
      this.allPage = 1
      this.items = []
      this.loadMore()
    }
  },
  mounted: function () {
    this.loadMore()
    window.onscroll = () => {
      let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight >= document.documentElement.offsetHeight
      if (bottomOfWindow) {
        this.loadMore()
      }
    }
  },
  methods: {
    loadMore: function () {
      if (this.currentPage < this.allPage) {
        getEntity('/videos?q=' + this.query + '&p=' + ++this.currentPage)
          .then(response => {
            const data = response.data
            this.allPage = data.countPage
            for (let i = 0; i < data.videos.length; i++) {
              this.items.push(data.videos[i])
            }
            this.isReady = true
          })
          .catch(err => {
            this.isReady = true
            this.$notify({
              type: 'error',
              title: 'Error',
              text: err.response.data.error
            })
          })
      }
    }
  }
}
</script>
