<template>
  <div v-if="isReady">
    <div class="row">
      <div class="col-lg-8 col-12">
        <Video :currentVideoId="currentVideoId"/>
      </div>
      <div class="col-lg-4 col-12">
        <RecommendList :items="items" :isReadyList="isReadyList" :path="'/videos/'" />
      </div>
    </div>
  </div>
  <h2 v-else>Loading...</h2>
</template>

<script>
import Video from '../components/Video.vue'
import RecommendList from '../components/RecommendList.vue'

import { getEntity } from '@/utils/api'

export default {
  data () {
    return {
      isReady: true,
      isReadyList: false,
      currentVideoId: '',
      items: []
    }
  },
  components: {
    Video,
    RecommendList
  },
  created: function () {
    this.loadMore()
  },
  watch: {
    '$route' (to, from) {
      this.currentVideoId = ''
      this.items = []
      this.loadMore()
    }
  },
  methods: {
    loadMore: function () {
      this.currentVideoId = this.$route.params.id
      getEntity('/videos')
        .then(response => {
          const data = response.data
          for (let i = 0; i < data.videos.length; i++) {
            this.items.push(data.videos[i])
          }
          this.isReadyList = true
        })
        .catch(err => {
          if (parseInt(err.response.status) === 404) {
            this.$router.push('/404')
          }
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
