html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    background: #000000e6;
    margin-top: 61px;
}

a, a:hover {
    text-decoration: none;
    color: #ffffffe0;
}

#logo{
    height: 35px;
}

@media (min-width: 960px) { 
    #logo{
        height: 44px;
    }
    body {
        margin-top: 70px;
    }

    .table{
        overflow-x: scroll;
    }
}

.underline:hover{
    text-decoration: underline;
}

.bg-dark {
    background-color: #434343!important;
}

.container-pt{
    padding-top: 15px; 
}

.container-border-top{
    border-top: 1px #4745458c solid;
}

.container-border-bottom{
    border-bottom: 1px #4745458c solid;
}

.container-dark {
    color: #ffffffe0;
}

.footer {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.table{
    width: 100%;
    min-width: 750px;
    overflow: hidden;
}

.table-head {
    height: 45px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.13);
    border-left: 3px solid rgba(254, 227, 142, 0.8);
}

.table-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffffe0;
}

.table-head > .table-data {
    color: #f7e08e;
}

.table-row {
    display: flex;
    transition: all 0.2s ease-out;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.06);
    border-left: 3px solid #1c616c;
}
.table-row:hover {
    background-color: rgba(255, 255, 255, 0.02);
    height: 50px;
    border-left: 3px solid #4fc0d2;
}
.table-user-logo {
    height: 85%;
    border-radius: 50%;
}

.user-logo {
    height: 50px;
}

.profile-user-logo{
    width: 100%;
}

#inputDescription{
    width: 100%;
    max-width: 100%;
    max-height: 50px;
    min-height: 50px;
}


.page-link {
    border-color: #4745458c!important;
    background-color: rgba(255, 255, 255, 0.06)!important;
    color: #ffffffe0;
}
.page-link:hover {
    border-color: #4745458c;
    background-color: rgba(255, 255, 255, 0.02)!important;
    color: #ffffffe0;
}

.main-mb{
    margin-bottom: 75px 
}

.pb{
    padding-bottom: 10px; 
}

.mt{
    margin-top: 15px; 
}

.video-row {
    height: 90px;
}

.video-row:hover {
    height: 100px;
}

#table-video-preview {
    height: 90%;
}

.subscribe {
    height: 35px;
    width: 100%;
    margin-top: 7px; 
    border-radius: 5px;
    background: #ba1616; 
    text-align: center;
    line-height: 35px;
}

.subscriber {
    background: rgba(255, 255, 255, 0.2);
}
.subscribe > span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    letter-spacing: 1.4px;
} 

.subscribe:hover {
    cursor: pointer;
}

.mar-auto {
    margin: 0 auto;
}

.render-scroll-menu {
    position: relative;
}

.scroll-menu {
    overflow: hidden;
    white-space: nowrap;
    height: 175px;
    width: 100%;
}

.video-box {
    height: 175px;
    width: 200px;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
}

.video-box img{
    height: 125px;
}

.video-box b {
    height: 50px;
}
.video-box:hover b {
    height: 50px;
    text-decoration: underline;
}

#scrollLeft {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    left: -20px;
    top: calc(50% - 20px);
    display: flex;
    background: #434343;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#scrollRight {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    top: calc(50% - 20px);
    display: flex;
    background: #434343;
    justify-content: center;
    align-items: center;
    right: -20px;
    user-select: none;
}

.author-video {
    font-size: 13px;
}

#details-video > h2 {
    margin: 5px 0; 
    font-size: 22px; 
}

.size-preview{
    height: 120px;
    max-width: 160px;
}

.stat {
    display: flex;
    justify-content: flex-end;
}

.like {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.fas {
    margin: auto;
}
.pressed {
    color: #28a6ba;
}

.act {
    margin: 0;
}

.chbox [type=checkbox] {
    display:none;
}

.chbox [type=checkbox]:checked ~ .act {
    height: 115px;
    border-left: 3px solid #4fc0d2;
}

.details-card {
	background: #ecf0f1;
}

.card-content {
	border: 1px #4745458c solid;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-desc {
	padding: 1.25rem;
}

.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 70px; max-width: 70px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #3e98d3; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: 'No'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Yes'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 10px 0 10px 0; }

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading {
    display: inline-block;
    border: 4px solid rgba(0,0,0,.2);
    border-left-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: donut-spin 1.2s linear infinite;
}

.bg-content {
    background-color: rgba(255, 255, 255, 0.03);
}