<template>
  <footer class="footer">
    <div class="container container-dark container-border-top">
      <span class="text-muted">© BroadWatch 2018 </span>
      <pre class="d-inline"> </pre>
      <span><a class="text-muted underline" target="_blank" href="https://t.me/broadwatch_bot">Telegram Bot</a></span>
      <pre class="d-inline"> </pre>
      <span><router-link class="text-muted underline" to="/developer">Developer</router-link></span>
    </div>
  </footer>
</template>
