<template>
  <div class="hello">
    <div class="text-center">
      <h1>Welcome!</h1>
      <p>
          It is a video-sharing website.<br> It allows users to upload, view, rate, share, comment on videos, and subscribe to other users.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>
