<template>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <router-link class="navbar-brand" to="/">
            <img id="logo" src="../assets/logo.png" alt="logo">
            <span>Broad Watch</span>
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div v-if="isAuth" class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-block d-lg-none">
                    <!-- <a class="nav-link" href="/users/{{auth.id}}"><font-awesome-icon icon="user"/> My Profile</a> -->
                </li>
                <li class="nav-item">
                  <router-link v-if="isAdmin" class="nav-link" to="/users"><font-awesome-icon icon="users"/> Users</router-link>
                </li>
                <li class="nav-item">
                   <router-link class="nav-link" to="/videos"><font-awesome-icon icon="video"/> Video</router-link>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Upload new video">
                  <router-link class="nav-link" to="/videos/new"><font-awesome-icon icon="upload"/><span class="d-inline-block d-lg-none"> Upload new video</span></router-link>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <router-link class="nav-link" to="/"><font-awesome-icon icon="home"/> Home</router-link>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <router-link class="nav-link" to="/about"><font-awesome-icon icon="address-card"/> About</router-link>
                </li>
                <li class="nav-item d-block d-lg-none">
                  <button @click.prevent="logout" class="nav-link"><font-awesome-icon icon="sign-out-alt"/> Log Out</button>
                </li>
            </ul>
            <form class="form-inline"  @submit.stop.prevent="submit">
                <input v-model="query" class="form-control mr-sm-2" type="search" autocapitalize="none" autocomplete="off" autocorrect="off" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
            </form>
        </div>
        <div v-if="isAuth" class="btn-group d-none d-lg-block ml-2">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{name}}
          </button>
          <div class="dropdown-menu">
            <router-link class="dropdown-item" :to="'/users/' + getProfile._id"><font-awesome-icon icon="user"/> My Profile</router-link>
            <div class="dropdown-divider"></div>
            <router-link class="dropdown-item" to="/"><font-awesome-icon icon="home"/> Home</router-link>
            <router-link class="dropdown-item" to="/about"><font-awesome-icon icon="address-card"/> About</router-link>
            <div class="dropdown-divider"></div>
            <button @click.prevent="logout" class="dropdown-item pointer"><font-awesome-icon icon="sign-out-alt"/> Log Out</button>
          </div>
        </div>

        <div v-else class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" to="/">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/about">About</router-link>
                </li>
            </ul>
            <div class="d-inline-block">
                <router-link class="btn btn-outline-info mr-2" to="/register">Sign Up</router-link>
                <router-link class="btn btn-outline-success my-2" to="/login">Log In</router-link>
            </div>
        </div>
    </div>
</nav>
</template>

<script>
import { AUTH_LOGOUT } from '@/store/actions/auth'
import { USER_REQUEST } from '@/store/actions/user'
export default {
  name: 'Navigation',
  computed: {
    getProfile: function () {
      return this.$store.getters.getProfile
    },
    isAuth: function () {
      if (this.$store.getters.getProfile && this.name) {
        // eslint-disable-next-line
        this.name = this.$store.getters.getProfile.fullname
      }
      return this.$store.getters.getProfile
    },
    isAdmin: function () {
      return parseInt(this.$store.getters.getProfile.role) === 1
    }
  },
  data: function () {
    return {
      name: 'User',
      query: ''
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch(AUTH_LOGOUT).then(() => {
        this.$router.push('/')
      })
    },
    submit: function () {
      this.$router.push({ path: '/videos', query: { q: this.query } })
    }
  },
  beforeCreate: function () {
    if (localStorage.getItem('user-token')) {
      this.$store.dispatch(USER_REQUEST)
    }
  }
}

</script>
