<template>
  <div v-if="isReadyList">
    <router-link v-for="item in items" :key="item._id" class="media pb-3" :to="path + item._id">
      <img class="mr-2 size-preview" :src="item.image" alt="Video2 logo">
      <div class="media-body pb-3 mb-0 small container-border-bottom">
        <b class="d-block text-gray">{{item.name}}</b>
        <span class="text-muted">{{item.postedBy.fullname}}</span>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    items: Array,
    isReadyList: Boolean,
    path: String
  }
}
</script>
