<template>
  <div v-if="isReady">
    <div class="embed-responsive embed-responsive-16by9">
      <video controls="controls" allowfullscreen autoplay >
        <source class="embed-responsive-item" :src="currentVideo.url" >
      </video>
    </div>
    <div id="details-video">
      <h2>
        {{currentVideo.name}}
      </h2>
      <div class="content container-border-bottom">
        <div class="media pt-3 pb-1">
          <img class="user-logo rounded-circle mr-2" :src="currentVideo.postedBy.avaUrl" alt="user logo">
          <div class="d-flex flex-column">
            <router-link class="pt-1 underline" :to="'/users/' + currentVideo.postedBy._id"><b>{{currentVideo.postedBy.fullname}}</b></router-link>
            <b class="d-block small text-muted">Publish: {{currentVideo.created | momentFilter}}</b>
          </div>
          <div class="stat ml-auto">
            <div @click.prevent.stop="rates" data-rate="like" class="like" id="div_like">
              <i class="fas" :class="{ pressed: rate == 'like' }" data-rate="like">
                <font-awesome-icon data-rate="like" icon="thumbs-up"/>
                <span data-rate="like" id="like"> {{currentVideo.likes}}</span>
              </i>
            </div>
            <div @click.prevent.stop="rates" data-rate="dislike" class="like" id="div_dislike">
              <i class="fas" :class="{ pressed: rate == 'dislike' }"  data-rate="dislike">
                <font-awesome-icon data-rate="dislike" icon="thumbs-down"/>
                <span data-rate="dislike" id="dislike"> {{currentVideo.dislikes}}</span>
              </i>
            </div>
          </div>
        </div>
      </div>
      <div v-if="canDelete()" class="d-flex container-border-bottom">
        <div class="ml-auto p-2">
          <button data-toggle="modal" data-target="#modalDialogDelete" :data-whatever="'/videos/' + currentVideo._id" class="btn btn-outline-danger btn-sm mr-2 btn-inline-block">
            Delete this video
          </button>
          <button data-toggle="modal" data-target="#modalDialogEdit" :data-whatever="'/videos/' + currentVideo._id" class="btn btn-outline-warning btn-sm btn-inline-block">
            Edit this video
          </button>
        </div>
      </div>
      <div id="about"> {{currentVideo.description}}</div>
    </div>
    <!-- ModalDelete -->
    <div class="modal fade" id="modalDialogDelete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert-danger">
            <h5 class="modal-title" id="modal">Warning!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button @click="deleteVideo" data-dismiss="modal" type="button" class="btn btn-outline-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ModalEdit -->
    <div class="modal fade" id="modalDialogEdit" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert-danger">
            <h5 class="modal-title" id="modal">Warning!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" v-model="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" v-model="description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button @click="editVideo" type="button" data-dismiss="modal" class="btn btn-outline-warning">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getEntity, deleteEntity, updateEntity, patchEntity } from '@/utils/api'
import moment from 'moment'

export default {
  props: {
    currentVideoId: String
  },
  data () {
    return {
      isReady: false,
      name: '',
      rate: 'none',
      description: '',
      currentVideo: { }
    }
  },
  created: function () {
    this.loadMore()
  },
  filters: {
    momentFilter: function (value) {
      return moment(value).fromNow()
    }
  },
  watch: {
    currentVideoId: function (value) {
      if (value) {
        this.isReady = false
        this.name = ''
        this.rate = 'none'
        this.description = ''
        this.currentVideo = { }
        this.loadMore()
      }
    }
  },
  methods: {
    canDelete: function () {
      return this.$store.getters.isAdmin || (this.$store.getters.getProfile._id === this.currentVideo.postedBy._id)
    },
    loadMore: function () {
      getEntity('/videos/' + this.currentVideoId)
        .then(response => {
          const data = response.data
          this.currentVideo = data
          this.name = data.name
          this.rate = data.likeValue
          this.description = data.description
          this.rate = data.likeValue
          this.isReady = true
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
          this.$router.push('/videos')
        })
    },
    deleteVideo: function () {
      const url = `/videos/${this.currentVideoId}`
      deleteEntity(url)
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: 'Success delete ' + res.data.name
          })
          this.$router.push('/videos')
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    editVideo: function () {
      const url = `/videos/${this.currentVideoId}`
      const name = this.name
      const description = this.description
      updateEntity(url, { name, description })
        .then(res => {
          this.$notify({
            type: 'success',
            title: 'Success',
            text: 'Success update ' + res.data.video.name
          })
          this.currentVideo.name = name
          this.currentVideo.description = description
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    },
    rates: function (e) {
      const target = e.target
      let rate = target.dataset.rate
      const nextRateEl = document.getElementById(rate)
      const prevRateEl = document.getElementById(this.rate)
      if (rate === this.rate) {
        rate = 'none'
        prevRateEl.innerText = ' ' + (parseInt(prevRateEl.innerText) - 1)
      }
      if (!prevRateEl) {
        nextRateEl.innerText = ' ' + (parseInt(nextRateEl.innerText) + 1)
      } else {
        nextRateEl.innerText = ' ' + (parseInt(nextRateEl.innerText) + 1)
        prevRateEl.innerText = ' ' + (parseInt(prevRateEl.innerText) - 1)
      }
      const path = '/videos/' + this.currentVideoId
      patchEntity(path, { rate })
        .then(res => {
          this.rate = rate
          this.$notify({
            type: 'success',
            title: 'Success',
            text: res.data.success
          })
        })
        .catch(err => {
          this.$notify({
            type: 'error',
            title: 'Error',
            text: err.response.data.error
          })
        })
    }
  }
}
</script>
